{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nightfarer Viewer</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  <div class="left-column">
    {% for location in locations %}
      <div class="location-item">
        <div class="location-left">
          <img src="{{ location.image.url }}" alt="{{ location.name }}">
          <p>{{ location.name }}</p>
        </div>
        <div class="location-right">
          <p>Min Level: {{ location.min_level }}</p>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="right-column">
    <div class="character-section">
      <div class="accordion-vertical" id="character-accordion">
        {% for nf in nightfarers %}
        <div class="accordion-item{% if forloop.first %} active{% endif %}" onclick="toggleAccordion(this, 'character')">
          <div class="accordion-title">{{ nf.name }}</div>
          <img src="{{ nf.summary.url }}" alt="{{ nf.name }}">
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="nightlord-section">
      <select id="nightlord-select" onchange="selectNightlord(this)">
        {% for nl in nightlords %}
        <option value="{{ nl.id }}" data-icon-url="{{ nl.icon.url }}">{{ nl.name }}</option>
        {% endfor %}
      </select>
      <div class="nightlord-info">
        <div class="main-weakness">
          <strong>Main Weakness:</strong>
          <img id="main-weakness-icon" src="" alt="Main Weakness">
        </div>
        <div class="vulnerabilities">
          <strong>Other Vulnerabilities:</strong>
          <div id="vulnerability-list"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/base.js' %}">
    window.nightlordData = {{ nightlord_data|safe }};
  </script>
</body>
</html>